/* Global Styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    color: #ffffff; /* blue color */
    background-color: #4CAF50;
    border-radius: 10px;
}



.camera-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #db4b4b;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3e8e41;
}

.time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}
.recorded-video-container {
    margin-top: 0px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recorded-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #recorded-video-player {
    max-width: 100%;
    margin-top: 10px;
    height: auto;
  }

  .more-coming-soon {
    margin-top: 10px;
    white-space: nowrap;
    color: #0000ff; /* blue color */
    font-size:50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    position: relative;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

  
/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .stats {
    padding: 5px;
    margin-bottom: 10px;
  }
  .button-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .button {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .camera-feed {
    height: 200px;
  }
}
